{% extends '_base.html.j2' %}

{% block title %}DEx{% endblock %}

{% block body %}
   {% block navigation %}
      <div class="navbar-wrapper">
         <div class="container">

            <nav class="navbar navbar-inverse navbar-static-top">
               <div class="container">
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                     </button>
                     <a class="navbar-brand" href="index.html">Dramatic Extracts</a>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                     <ul class="nav navbar-nav">
                        <li><a href="{{ baseUrl }}/index.html">Home</a></li>
                        <li>
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Extracts <span class="caret"></span></a>
                           <ul class="dropdown-menu" role="menu">
                              <li><a href="{{ baseUrl }}/browse.html">Browse All and Search</a></li>
                              <li class="divider"></li>
                              <li><a href="{{ baseUrl }}/browse-manuscript.html">By Manuscript</a></li>
                              <li><a href="{{ baseUrl }}/browse-playwright.html">By Playwright</a></li>
                              <li><a href="{{ baseUrl }}/browse-play.html">By Play</a></li>
                              <li><a href="{{ baseUrl }}/browse-character.html">By Character</a></li>
                              <li class="divider"></li>
                              <li><a href="{{ baseUrl }}/search-advanced.html">Advanced Search</a></li>
                           </ul>
                        </li>
                        <li><a href="{{ baseUrl }}/bibliography.html">Bibliography</a></li>
                        <li>
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                             <li><a href="{{ baseUrl }}/about.html">Overview</a></li>
                             <li class="divider"></li>
                             <li><a href="{{ baseUrl }}/about_bibliography.html">Bibliography</a></li>
                             <li><a href="{{ baseUrl }}/about_cite.html">Citing DEx</a></li>
                             <li><a href="{{ baseUrl }}/about_technical.html">Technical Information</a></li>
                             <li><a href="{{ baseUrl }}/about_use.html">How to Use</a></li>
                          </ul>
                        </li>
                        <li><a href="{{ baseUrl }}/contact.html">Contact</a></li>
                        <li><a href="{{ baseUrl }}/submit.html">Submit</a></li>
                     </ul>
                  </div>
               </div>
            </nav>

         </div>
      </div>
   {% endblock %}

   {% block header %}
      <header></header>
   {% endblock %}

   {% block content %}{% endblock %}

   <footer>
      {% block footer %}
         <div class="container">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
         </div>
      {% endblock %}
   </footer>

{% endblock %}

{% block javascripts %}
   {{ super() }}
   <script src="{{ baseUrl }}/js/vendors.js"></script>
   <script src="{{ baseUrl }}/js/templates.js"></script>
   <script src="{{ baseUrl }}/js/config.js"></script>
   <script src="{{ baseUrl }}/js/main.js"></script>
   <script>require('bootstrap');</script>
{% endblock %}
