{% extends '_layout.html.j2' %}

{% block header %}
   <header>
      <div class="container">
         <h1>About: Images</h1>
      </div>
   </header>
{% endblock %}

{% block content %}
   <main class="container">
     <p>The images on this site are from the following sources:</p>
     <ul>
       <li>Cover Image (Globe Theatre): [[please provide source and link]]</li>
       <li>Explore Image (Book Spines): [[please provide source and link]]</li>
       <li>About Image (Binding Stamp): <a href="http://luna.folger.edu/luna/servlet/s/ac1w7t">Folger MS V.a.342</a></li>
       <li>Contribute Image (Clasp): <a href="http://luna.folger.edu/luna/servlet/s/qw342o">Folger INC T363</a></li>
       <li>Homepage Image ("Shakespeare" handwritten): <a href="http://luna.folger.edu/luna/servlet/s/z5oljd">Folger STC 22273 Fo. 1 No. 45</a></li>
       <li>Homepage Image ("To the King"): <a href="http://luna.folger.edu/luna/servlet/s/c03186">Folger MS V.a.245</a></li>
       <li>Homepage Image (Fletcher Portrait): <a href="http://luna.folger.edu/luna/servlet/s/2pmptq">Folger B1581</a></li>
     </ul>

     <p>
       All images from the Folger Shakespeare Library appear under the terms of a
       <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-Sharealike license</a>.
     </p>
   </main>
{% endblock %}
