{% extends '_layout.html.j2' %}

{% block header %}
   <header>
      <div class="container">
         <h1>About: Citing DEx</h1>
      </div>
   </header>
{% endblock %}

{% block content %}
   <main class="container">
      <article>
        <h3>MLA</h3>
        Estill, Laura, ed. <i>DEx: A Database of Dramatic Extracts</i>. Iter: Gateway to the Middle Ages and Renaissance. [date of site update]. [date of access].

        <h3>Chicago (Notes)</h3>
        Laura Estill, ed., <i>DEx: A Database of Dramatic Extracts</i> (Iter: Gateway to the Middle Ages and Renaissance, [date of site update]), accessed [date], http://www.*insertURLHERE**.

        <h3>Chicago (Bibliography)</h3>
        Estill, Laura, ed. <i>DEx: A Database of Dramatic Extracts</i>. Iter: Gateway to the Middle Ages and Renaissance, [date of site update]. Accessed [date]. http://www.*insertURLHERE**.
      </article>
   </main>
{% endblock %}
