{% extends '_layout.html.j2' %}

{% block header %}
   <header>
      <div class="container">
         <h1>About: Technical Information</h1>
      </div>
   </header>
{% endblock %}

{% block content %}
   <main class="container">
      <article>
        <p>
        DEx is built on TEI-compliant XML transcriptions of manuscripts. These TEI-encoded
        texts are available to download from our bibliography page.  For more information
        about the encoding, you can see our encoding guidelines.  You can also find the
        TEI for each manuscript by bringing up the results in "browse by manuscript."  The
        TEI can be used under a CC BY-NC-SA license.
        </p>

        <p>
          [[more info from Neal and Matt on technical side of things]]
        </p>
      </article>
   </main>
{% endblock %}
