{% extends '_layout.html.j2' %}

{% block header %}
   <header>
      <div class="container">
         <h1>About: How to Use DEx</h1>
      </div>
   </header>
{% endblock %}

{% block content %}
   <main class="container">
      <article>
         <header>
            <p class="lead">
               <strong>You can browse or search DEx.</strong>
            </p>
         </header>

         <section id="overview">
           <p>DEx offers a faceted browse. On the left-hand side, you can choose to narrow your results by manuscript,
             play, playwright, and speaker. The default sort for these categories is by number of results. You can check
             or uncheck boxes to narrow or broaden your results.</p>

           <p>For basic search, you can simply enter any keyword, playwright, speaker, or title into the search bar on
             the top left. Basic search includes results from all fields.</p>

           <p>In the advanced search, you can create a search based on shelfmark, playwright, play, speaker, or keyword.</p>

           <h3>Search Tips</h3>
           <p>When you search, you are searching both the original manuscript spelling and a modern version of it, so you
              do not have to worry about inconsistencies in early modern orthography.</p>

           <p>? is a wildcard that more than one character (glyph)</p>
           <ul>
             <li>wom?n finds both women and woman</li>
             <li>gen? finds gentle, gentles, gentleman, etc</li>
           </ul>

           <p>"phrase searching"</p>
           <ul>
             <li>to search for an exact phrase, put it in quotation marks</li>
             <li>"not to be" finds only that exact phrase</li>
           </ul>

           <p>x AND y</p>
           <ul>
             <li>a search for two words (without quotation marks) brings up results that have either of those two words</li>
             <li>to search for both in the same extract, add AND (all uppercase) between them</li>
           </ul>

           <h3>Navigating your results</h3>

           <p>DEx offer two kinds of results: normalized and original. You can toggle between the two using the button in the top-right of your results. "Original" is the spelling in the manuscripts, represented as carefully as possible. Silent editorial emendations have been made, however, even to the original text: long S is not retained; i/j and u/v/w are regularized. Punctuation in the manuscript sources has been followed as well as possible. Slashes in the search results are not line breaks; they are slashes from the manuscript.</p>

           <p>Normalized results display regularized spelling, which allows for increased searchability. Normalized text, furthermore, displays the text as it appears in an edition of the play (see the bibliography and editorial practices), which allows you to compare how a manuscript compiler has changed the text. Of course, if a person was copying from another manuscript or from a performance, we do not have access to their original source, so, instead, we supplement with an edition based on a print text. DEx considers punctuation, capitalization, and word-breaks to be incidental, so if a manuscript differs from the edition solely in these ways, that will not be reflected in the normalized text.</p>

           <p>Some DEx extracts include titles that appear in the manuscripts, or marginal annotations that appear in the manuscript. Where possible, we have indicated superlinear additions with superscript.</p>

           <p>When looking at a record in the search result, you can click through to see multiple contexts. To access facsimiles of some of the manuscripts (where there are freely available online facsimiles), click the manuscript number to see the results from the page. You can also click on character names, play titles, or playwrights to call up all of the results in those categories (extracts spoken by a particular character; from a particular play, or by a particular  playwright).</p>
         </section>
      </article>
   </main>
{% endblock %}
