{% extends '_layout.html.j2' %}

{% block header %}
   <header>
      <div class="container">
         <h1>About the DEx Project</h1>
      </div>
   </header>
{% endblock %}

{% block content %}
   <main class="container">
      <article>
         <header>
            <p class="lead">
               <strong>DEx: A Database of Dramatic Extracts</strong> is an online, searchable database of extracts transcribed from seventeenth-century manuscripts. DEx aims to provide much-needed information to textual editors, literary scholars, and cultural historians interested in theater history, audience reception, early modern print and manuscript culture, and the history of reading.
            </p>
         </header>

         <section id="overview">
            <header class="page-header">
               <h1>Overview</h1>
            </header>

            <p>
               Early modern readers and playgoers often kept commonplace books and miscellanies,
               where they would copy poems, aphorisms, letters, accounts, and any number of
               things—including selections from plays. DEx: A Database of Dramatic Extracts aids
               scholars in finding selections from plays copied into manuscripts. While contemporary
               readers often overlook lesser-known historical plays and playwrights, early modern
               readers did not make the same distinction.
            </p>

            <p>
               DEx: A Database of Dramatic Extracts is published by
               <a href="http://www.itergateway.org/">Iter: Gateway to the Middle Ages and Renaissance</a>.
            </p>
         </section>

         <section id="overview">
            <header class="page-header">
               <h1>Coverage</h1>
            </header>

            <p>
               DEx catalogues extracts from plays written and published before
               the closure of theaters in 1642 and copied into manuscript before ca. 1700.
            <p>

            <p>
               DEx is not, of course, comprehensive, as there are always new extracts
               being discovered (submit yours here). You can find a list of manuscripts
               indexed on our browse page or on our bibliography.  Additional information
               about each manuscript is available in the bibliography.
            </p>

            <p>
               DEx does not transcribe entire manuscripts: only those parts of a manuscript
               that are extracts from plays.
            </p>

         </section>

         <section id="staff">
            <header class="page-header">
               <h1>People</h1>
            </header>

            <div class="staffgroup">
              <span class="role">General Editor:</span> <span class="person">Laura Estill</span>, <span class="affiliation">Texas A&amp;M University</span><br/>
              <span class="role">Associate Editor:</span> <span class="person">Beatrice Montedoro</span>, <span class="affiliation">Lincoln College, University of Oxford</span>
            </div>

            <div class="staffgroup">
              <p>Research Assistants, Past and Present:</p>
              <ul>
                <li>Bethany Radcliff</li>
                <li>Andrea Rodriguez</li>
              </ul>
            </div>

            <div class="staffgroup">
              <p>Software Development</p>
              <ul>
                <li>Neal Audenaert, Texas Center for Applied Technology</li>
                <li>Matthew Barry, Texas Center for Applied Technology</li>
              </ul>
            </div>
         </section>

         <section id="sponsors">
            <header class="page-header">
               <h1>Sponsors</h1>
            </header>
            <div id="sponsorsWall">
               <a class="sponsor" href="http://banting.fellowships-bourses.gc.ca/home-accueil-eng.html">
                  <img src="{{ baseUrl }}/images/sponsors/banting.jpg" alt="Banting Postdoctoral Fellowships">
               </a>
               <a class="sponsor" href="http://www.sshrc-crsh.gc.ca/">
                  <img src="{{ baseUrl }}/images/sponsors/sshrc-crsh.jpg" alt="Social Sciences and Humanities Research Council">
               </a>
               <a class="sponsor" href="http://www.itergateway.org">
                  <img src="{{ baseUrl }}/images/sponsors/iter.jpg" alt="Iter: Gateway to the Middle Ages and Renaissance">
               </a>
               <a class="sponsor" href="http://idhmc.tamu.edu/">
                  <img src="{{ baseUrl }}/images/sponsors/tamu-idhmc.png" alt="Initiative for Digital Humanities, Media, and Culture at Texas A&amp;M University">
               </a>
               <a class="sponsor" href="http://etcl.uvic.ca/">
                  <img src="{{ baseUrl }}/images/sponsors/uvic-etcl.png" alt="University of Victoria Electronic Textual Cultures Lab">
               </a>
               <a class="sponsor" href="http://tcat.tamu.edu">
                  <img src="{{ baseUrl }}/images/sponsors/tees-tcat_inv.png" alt="Texas Center for Applied Technology">
               </a>
            </div>
         </section>
      </article>
   </main>
{% endblock %}

{% block javascripts %}
   {{ super() }}
   <script>require('about');</script>
{% endblock %}
