{% extends '_layout.html.j2' %}

{% block header %}
   <header>
      <div class="container">
         <h1>About: Images and Fonts</h1>
      </div>
   </header>
{% endblock %}

{% block content %}
   <main class="container">
     <p>The images on this site are from the following sources:</p>
     <ul>
       <li>Cover Image (Globe Theatre): <a href="http://luna.folger.edu/luna/servlet/detail/FOLGERCM1~6~6~295380~122590:Queen-Elizabeth-at-the-Globe-Theatr?qvq=w4s:/what%2FGlobe%2BTheatre%2B(London%2C%2BEngland%2B%3A%2B1599-1644)%2C%2Bdepicted.;lc:FOLGERCM1~6~6&mi=6&trs=15">Folger</a></li>
       <li>Cover Image (Open Book): <a href="http://criticalmargins.com/wp-content/uploads/2013/05/commonplace-book_vlasta2.jpg">Critical Margins</a></li>
       <li>Cover Image (How to Hold Your Pen): <a href="http://luna.folger.edu/luna/servlet/detail/FOLGERCM1~6~6~916584~161697:A-nevv-booke,-containing-all-sorts-?sort=call_number%2Cauthor%2Ccd_title%2Cimprint&qvq=w4s:/what%2FWriting%2B--%2BSpecimens%2B--%2BEarly%2Bworks%2Bto%2B1800.;sort:call_number%2Cauthor%2Ccd_title%2Cimprint;lc:FOLGERCM1~6~6&mi=0&trs=2">Folger</a></li>

       <li>Explore Image (Book Spines): <a href="https://www.flickr.com/photos/hackleypubliclibrary/16323523108/in/faves-127156916@N05/">Flickr</a></li>
       <li>About Image (Binding Stamp): <a href="http://luna.folger.edu/luna/servlet/s/ac1w7t">Folger MS V.a.342</a></li>
       <li>Contribute Image (Clasp): <a href="http://luna.folger.edu/luna/servlet/s/qw342o">Folger INC T363</a></li>
       <li>Homepage Image ("Shakespeare" handwritten): <a href="http://luna.folger.edu/luna/servlet/s/z5oljd">Folger STC 22273 Fo. 1 No. 45</a></li>
       <li>Homepage Image ("To the King"): <a href="http://luna.folger.edu/luna/servlet/s/c03186">Folger MS V.a.245</a></li>
       <li>Homepage Image (Fletcher Portrait): <a href="http://luna.folger.edu/luna/servlet/s/2pmptq">Folger B1581</a></li>
     </ul>

     <p>
       All images from the Folger Shakespeare Library appear under the terms of a
       <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-Sharealike license</a>.
     </p>

     <p>Dramatic Extracts are displayed using the <a href="http://folk.uib.no/hnooh/mufi/fonts/index.html#Andron">Andron Scriptor Web</a>
       font. This is a special edition of Andreas Stötzner’s Andron font project with extensions to support the
       <a href="http://folk.uib.no/hnooh/mufi/fonts/index.html#PalemonasMUFI">Medieval Unicode Font Initiative (MUFI)</a>.
   </main>
{% endblock %}
