{% extends '_layout.html.j2' %}

{% block title %}Bibliography - {{ super() }}{% endblock %}

{% block header %}
   <header>
      <div class="container">
         <h1>Bibliography</h1>
      </div>
   </header>
{% endblock %}

{% block content %}
   <main class="container">
     <p>For details on the bibliography, see our <a href="about_bibliography.html">About page</a>.

     <hr class="featurette-divider">
     <div id="bibliography"></div>
   </main>
{% endblock %}

{% block javascripts %}
   {{ super() }}
   <script>
      require(['bibliography', 'config'], function (app, config) {
         app.initialize('#bibliography', config);
      });
   </script>
{% endblock %}
