{% extends '_layout.html.j2' %}

{% block title %}Bibliography - {{ super() }}{% endblock %}

{% block header %}
   <header>
      <div class="container">
         <h1>Bibliography</h1>
      </div>
   </header>
{% endblock %}

{% block content %}
   <main class="container"></main>
{% endblock %}

{% block javascripts %}
   {{ super() }}
   <script>
      require(['bibliography', 'config'], function (app, config) {
         app.initialize('main.container', config);
      });
   </script>
{% endblock %}
