{% extends 'layout.html.j2' %}

{% block title %}Bibliography - {{ super() }}{% endblock %}

{% block header %}
   <header>
      <div class="container">
         <h1>Bibliography</h1>
      </div>
   </header>
{% endblock %}

{% block content %}
   <main class="container">
      <header class="page-header">
         <h1>Primary Sources</h1>
      </header>

      <ul class="bibliography">
         <li>
            <h2>British Library Additional Manuscript 10309</h2>
            <dl class="dl-horizontal">
               <dt>Author(s)</dt>
               <dd>Margaret Bellasys</dd>
               <dt>Available from</dt>
               <dd><a href="http://www.celm-ms.org.uk/repositories/british-library-additional-10000.html#british-library-additional-10000_id647661">CELM</a></dd>
               <dt>License</dt>
               <dd><a href="https://creativecommons.org/licenses/by-nc/4.0/legalcode" target="_blank">Creative Commons CC-BY-NC 4.0</a></dd>
            </dl>
            <section class="secondary">
               <h3>Secondary Sources</h3>
               <ul>
                  <li><a href="http://internetshakespeare.uvic.ca/Annex/Texts/Old/F3/work/" target="_blank">"Sir John Oldcastle". <em>Internet Shakespeare Editions</em>.</a></li>
                  <li><a href="http://internetshakespeare.uvic.ca/Annex/Texts/Loc/F3/work/" target="_blank">"Locrine". <em>Internet Shakespeare Editions</em>.</a></li>
                  <li><a href="http://internetshakespeare.uvic.ca/Annex/Texts/LP/F3/work/" target="_blank">"The London Prodigal". <em>Internet Shakespeare Editions</em>.</a></li>
                  <li>Elliott M. Hill. "The Tragedy of Nero". <em>Garland: Renaissance Drama: A Collection of Critical Editions</em>. 1979</li>
                  <li><a href="http://extra.shu.ac.uk/emls/iemls/renplays/tragedyofnero.htm" target="_blank">Tracy Siddle. "The Tragedy of Nero". <em>Early Modern Literary Studies</em>.</a></li>
               </ul>
            </section>
         </li>
         <li>
            <h2>British Library Additional Manuscript 10309</h2>
            <dl class="dl-horizontal">
               <dt>Author(s)</dt>
               <dd>Margaret Bellasys</dd>
               <dt>Available from</dt>
               <dd><a href="http://www.celm-ms.org.uk/repositories/british-library-additional-10000.html#british-library-additional-10000_id647661">CELM</a></dd>
               <dt>License</dt>
               <dd><a href="https://creativecommons.org/licenses/by-nc/4.0/legalcode" target="_blank">Creative Commons CC-BY-NC 4.0</a></dd>
            </dl>
            <section class="secondary">
               <h3>Secondary Sources</h3>
               <ul>
                  <li><a href="http://internetshakespeare.uvic.ca/Annex/Texts/Old/F3/work/" target="_blank">"Sir John Oldcastle". <em>Internet Shakespeare Editions</em>.</a></li>
                  <li><a href="http://internetshakespeare.uvic.ca/Annex/Texts/Loc/F3/work/" target="_blank">"Locrine". <em>Internet Shakespeare Editions</em>.</a></li>
                  <li><a href="http://internetshakespeare.uvic.ca/Annex/Texts/LP/F3/work/" target="_blank">"The London Prodigal". <em>Internet Shakespeare Editions</em>.</a></li>
                  <li>Elliott M. Hill. "The Tragedy of Nero". <em>Garland: Renaissance Drama: A Collection of Critical Editions</em>. 1979</li>
                  <li><a href="http://extra.shu.ac.uk/emls/iemls/renplays/tragedyofnero.htm" target="_blank">Tracy Siddle. "The Tragedy of Nero". <em>Early Modern Literary Studies</em>.</a></li>
               </ul>
            </section>
         </li>
         <li>
            <h2>British Library Additional Manuscript 10309</h2>
            <dl class="dl-horizontal">
               <dt>Author(s)</dt>
               <dd>Margaret Bellasys</dd>
               <dt>Available from</dt>
               <dd><a href="http://www.celm-ms.org.uk/repositories/british-library-additional-10000.html#british-library-additional-10000_id647661">CELM</a></dd>
               <dt>License</dt>
               <dd><a href="https://creativecommons.org/licenses/by-nc/4.0/legalcode" target="_blank">Creative Commons CC-BY-NC 4.0</a></dd>
            </dl>
            <section class="secondary">
               <h3>Secondary Sources</h3>
               <ul>
                  <li><a href="http://internetshakespeare.uvic.ca/Annex/Texts/Old/F3/work/" target="_blank">"Sir John Oldcastle". <em>Internet Shakespeare Editions</em>.</a></li>
                  <li><a href="http://internetshakespeare.uvic.ca/Annex/Texts/Loc/F3/work/" target="_blank">"Locrine". <em>Internet Shakespeare Editions</em>.</a></li>
                  <li><a href="http://internetshakespeare.uvic.ca/Annex/Texts/LP/F3/work/" target="_blank">"The London Prodigal". <em>Internet Shakespeare Editions</em>.</a></li>
                  <li>Elliott M. Hill. "The Tragedy of Nero". <em>Garland: Renaissance Drama: A Collection of Critical Editions</em>. 1979</li>
                  <li><a href="http://extra.shu.ac.uk/emls/iemls/renplays/tragedyofnero.htm" target="_blank">Tracy Siddle. "The Tragedy of Nero". <em>Early Modern Literary Studies</em>.</a></li>
               </ul>
            </section>
         </li>
         <li>
            <h2>British Library Additional Manuscript 10309</h2>
            <dl class="dl-horizontal">
               <dt>Author(s)</dt>
               <dd>Margaret Bellasys</dd>
               <dt>Available from</dt>
               <dd><a href="http://www.celm-ms.org.uk/repositories/british-library-additional-10000.html#british-library-additional-10000_id647661">CELM</a></dd>
               <dt>License</dt>
               <dd><a href="https://creativecommons.org/licenses/by-nc/4.0/legalcode" target="_blank">Creative Commons CC-BY-NC 4.0</a></dd>
            </dl>
            <section class="secondary">
               <h3>Secondary Sources</h3>
               <ul>
                  <li><a href="http://internetshakespeare.uvic.ca/Annex/Texts/Old/F3/work/" target="_blank">"Sir John Oldcastle". <em>Internet Shakespeare Editions</em>.</a></li>
                  <li><a href="http://internetshakespeare.uvic.ca/Annex/Texts/Loc/F3/work/" target="_blank">"Locrine". <em>Internet Shakespeare Editions</em>.</a></li>
                  <li><a href="http://internetshakespeare.uvic.ca/Annex/Texts/LP/F3/work/" target="_blank">"The London Prodigal". <em>Internet Shakespeare Editions</em>.</a></li>
                  <li>Elliott M. Hill. "The Tragedy of Nero". <em>Garland: Renaissance Drama: A Collection of Critical Editions</em>. 1979</li>
                  <li><a href="http://extra.shu.ac.uk/emls/iemls/renplays/tragedyofnero.htm" target="_blank">Tracy Siddle. "The Tragedy of Nero". <em>Early Modern Literary Studies</em>.</a></li>
               </ul>
            </section>
         </li>
         <li>
            <h2>British Library Additional Manuscript 10309</h2>
            <dl class="dl-horizontal">
               <dt>Author(s)</dt>
               <dd>Margaret Bellasys</dd>
               <dt>Available from</dt>
               <dd><a href="http://www.celm-ms.org.uk/repositories/british-library-additional-10000.html#british-library-additional-10000_id647661">CELM</a></dd>
               <dt>License</dt>
               <dd><a href="https://creativecommons.org/licenses/by-nc/4.0/legalcode" target="_blank">Creative Commons CC-BY-NC 4.0</a></dd>
            </dl>
            <section class="secondary">
               <h3>Secondary Sources</h3>
               <ul>
                  <li><a href="http://internetshakespeare.uvic.ca/Annex/Texts/Old/F3/work/" target="_blank">"Sir John Oldcastle". <em>Internet Shakespeare Editions</em>.</a></li>
                  <li><a href="http://internetshakespeare.uvic.ca/Annex/Texts/Loc/F3/work/" target="_blank">"Locrine". <em>Internet Shakespeare Editions</em>.</a></li>
                  <li><a href="http://internetshakespeare.uvic.ca/Annex/Texts/LP/F3/work/" target="_blank">"The London Prodigal". <em>Internet Shakespeare Editions</em>.</a></li>
                  <li>Elliott M. Hill. "The Tragedy of Nero". <em>Garland: Renaissance Drama: A Collection of Critical Editions</em>. 1979</li>
                  <li><a href="http://extra.shu.ac.uk/emls/iemls/renplays/tragedyofnero.htm" target="_blank">Tracy Siddle. "The Tragedy of Nero". <em>Early Modern Literary Studies</em>.</a></li>
               </ul>
            </section>
         </li>
      </ul>
   </main>
{% endblock %}
