{% extends 'layout.html.j2' %}

{% block title %}Manuscripts Browser - {{ super() }}{% endblock %}

{% block header %}
   <header>
      <div class="container">
         <h1 id="page-title">Browse by Manuscript</h1>
      </div>
   </header>
{% endblock %}

{% block content %}
   <main class="container"></main>
{% endblock %}

{% block javascripts %}
   {{ super() }}
   <script>
      require(['browse', 'config'], function (app, config) {
         app.initialize('main.container', config);
      });
   </script>
{% endblock %}
