{% extends 'layout.html.j2' %}

{% import '_facet_group.html.j2' as facet %}
{% import '_pagination.html.j2' as pagination %}

{% block title %}Julius Caesar - Characters Browser - {{ super() }}{% endblock %}

{% block header %}
   <header>
      <div class="container">
         <h1>Julius Caesar</h1>
      </div>
   </header>
{% endblock %}

{% block content %}
   <div class="container">
      <div class="row">
         <div class="col-md-3">
            <form style="margin-top:3em;">
               <div class="input-group">
                  <input type="search" class="form-control" placeholder- "Search for ...">
                  <span class="input-group-btn">
                     <button type="submit" class="btn btn-primary" type="button">Go</button>
                  </span>
               </div>
               <div class="facet-controls">
                  {{ facet.group('Manuscripts', 'ms', [
                     { 'id': 'BLMSAdd10309', 'title': 'British Library Additional Manuscript 10309', 'count': 32 },
                     { 'id': 'BLMSAdd64078', 'title': 'British Library Additional MS 64078', 'count': 302 },
                     { 'id': 'BLMSLansdowne1185', 'title': 'BL Lansdowne 1185', 'count': 243 },
                     { 'id': 'BodleianMSSancroft29', 'title': 'Bodleian MS Sancroft 29', 'count': 178 },
                     { 'id': 'FolgerMSVa87', 'title': 'Folger MS V.a.87', 'count': 124 },
                     { 'id': 'HarvardMSFr487', 'title': 'Harvard MS Fr. 487', 'count': 67 },
                     { 'id': 'UChicago_MS824', 'title': 'University of Chicago MS 824', 'count': 22 }
                  ]) }}

                  {{ facet.group('Playwrights', 'playwrights', [
                     { 'id': 'BLMSAdd10309', 'title': 'Anonymous', 'count': 432 },
                     { 'id': 'Cartwright', 'title': 'William Cartwright', 'count': 302 },
                     { 'id': 'Shakespeare', 'title': 'William Shakespeare', 'count': 243 },
                     { 'id': 'Massinger', 'title': 'Philip Massinger', 'count': 178 },
                     { 'id': 'Webster', 'title': 'John Webster', 'count': 124 },
                     { 'id': 'Jonson', 'title': 'Ben Johnson', 'count': 67 },
                     { 'id': 'Beaumont', 'title': 'Francis Beaumont', 'count': 22 }
                  ]) }}

                  {{ facet.group('Plays', 'plays', [
                     { 'id': 'Anon_TragNero', 'title': 'The Tragedy of Nero (Anonymous)', 'count': 32 },
                     { 'id': 'BeaumontFletcher_Scornful', 'title': 'The Scornful Lady (Beaumont and Fletcher)', 'count': 302 },
                     { 'id': 'Cartwright_Slave', 'title': 'The Royal Slave (Cartwright)', 'count': 243 },
                     { 'id': 'Jonson_Fortunate', 'title': 'The Fortunate Isles, and their Union (Jonson)', 'count': 178 },
                     { 'id': 'Massinger_Maid', 'title': 'The Maid of Honour (Massinger)', 'count': 124 },
                     { 'id': 'Shakes_Henry5', 'title': 'Henry V (Shakespeare)', 'count': 67 },
                     { 'id': 'Webster_Duchess', 'title': 'The Duchess of Malfi (Webster)', 'count': 22 }
                  ]) }}
               </div>
            </form>

         </div>
         <div class="col-md-9">
            <div class="page-header">
               <a class="pull-right btn btn-primary">
                  <i class="glyphicon glyphicon-download"></i>
                  <span>Download TEI</span>
               </a>
               <h2>Character Info</h2>
            </div>

            <dl class="dl-horizontal">
               <dt>Appeared in</dt>
               <dd><a href="#plays=Chapman_CaesarPompey">Caesar and Pompey (Chapman)</a></dd>
               <dd><a href="#plays=Shakes_Caesar">Julius Caesar (Shakespeare)</a></dd>
            </dl>

            <div class="page-header">
               <div class="btn-group pull-right" role="group" aria-label="manuscript display text">
                  <button type="button" id="showNormalized" class="btn btn-default active">Normalized</button>
                  <button type="button" id="showOriginal" class="btn btn-default">Original</button>
               </div>
               <div class="pull-right">{{ pagination.pagination(10, 2, 3) }}</div>
               <h2>Extracts</h2>
            </div>

            <div id="extractList" class="extract-list show-normalized">
               <div class="extract">
                  <div class="original">
                     <p rend="run-in">Truce to this aiery warre =</p>
                  </div>
                  <div class="normalized">
                     <p rend="run-in">Truce to this airy war =</p>
                  </div>

                  <div class="extract-citation">
                     <div>
                        <span>Folger MS V.a.262</span> (
                        <span>f. 5v</span>)</div>
                     <div>by
                        <span>Lady Macbeth</span> in
                        <span>
                           <em>Macbeth</em>
                        </span> (
                        <span>Shakespeare</span>)</div>
                  </div>
               </div>

               <div class="extract">
                  <div class="original">
                     beauty in Death
                     <p> --
                        <del>Ca</del> She looks like sleep
                        <br/>As she would catch another Anthony
                        <br/>In her strong toil of grace---</p>
                  </div>
                  <div class="normalized">
                     beauty in Death
                     <p> -- She looks like sleep
                        <br/>As she would catch another Anthony
                        <br/>In her strong toil of grace---</p>
                  </div>

                  <div class="extract-citation">
                     <div>
                        <span>Folger MS V.a.262</span> (
                        <span>f. 5v</span>)</div>
                     <div>by
                        <span>Lady Macbeth</span> in
                        <span>
                           <em>Macbeth</em>
                        </span> (
                        <span>Shakespeare</span>)</div>
                  </div>
               </div>


               <div class="extract">
                  <div class="original">
                     <p>cannot meete an ill construction,</p>
                  </div>
                  <div class="normalized">
                     <p>cannot meet an ill construction,</p>
                  </div>

                  <div class="extract-citation">
                     <div>
                        <span>Folger MS V.a.262</span> (
                        <span>f. 5v</span>)</div>
                     <div>by
                        <span>Lady Macbeth</span> in
                        <span>
                           <em>Macbeth</em>
                        </span> (
                        <span>Shakespeare</span>)</div>
                  </div>
               </div>


               <div class="extract">
                  <div class="original">
                     <p rend="run-in">yet is it not
                        <br/>harsh to seeke by force what courtship
                        <br/>Cannot winne</p>
                  </div>
                  <div class="normalized">
                     <p rend="run-in"> to seek by force what courtship
                        <br/>could not win</p>
                  </div>

                  <div class="extract-citation">
                     <div>
                        <span>Folger MS V.a.262</span> (
                        <span>f. 5v</span>)</div>
                     <div>by
                        <span>Lady Macbeth</span> in
                        <span>
                           <em>Macbeth</em>
                        </span> (
                        <span>Shakespeare</span>)</div>
                  </div>
               </div>


               <div class="extract">
                  <div class="original">
                     <p rend="run-in">streakt gillyflowers, w<sup>ch</sup> some call Nre&#x2019;s
                        <br/>bastards, in w<sup>ch</sup> Art shares w<sup>th</sup> Nre.</p>
                  </div>
                  <div class="normalized">
                     <p rend="run-in">streak'd gillyvors, which some call Nature's
                        <br/>bastards, of that kind Our rustic garden's barren; and I care not To get slips of them..</p>
                  </div>

                  <div class="extract-citation">
                     <div>
                        <span>Folger MS V.a.262</span> (
                        <span>f. 5v</span>)</div>
                     <div>by
                        <span>Lady Macbeth</span> in
                        <span>
                           <em>Macbeth</em>
                        </span> (
                        <span>Shakespeare</span>)</div>
                  </div>
               </div>


               <div class="extract">
                  <div class="original">
                     <p>-Fleers, the Gibes, &amp; notable Scorns, y<sup>t</sup> dwell in evy Regi&#x014d; of his Face</p>
                  </div>
                  <div class="normalized">
                     <p>-Fleers, the Gibes, &amp; notable Scorns, that dwell in every Region of his Face</p>
                  </div>

                  <div class="extract-citation">
                     <div>
                        <span>Folger MS V.a.262</span> (
                        <span>f. 5v</span>)</div>
                     <div>by
                        <span>Lady Macbeth</span> in
                        <span>
                           <em>Macbeth</em>
                        </span> (
                        <span>Shakespeare</span>)</div>
                  </div>
               </div>


               <div class="extract">
                  <div class="original">
                     <p>--If my Disports corrupt, &amp; taint my Business, May ~
                        <br/>Houswifes make a skillet of my Helm __</p>
                  </div>
                  <div class="normalized">
                     <p>--That my Disports corrupt, &amp; taint my Business, let ~
                        <br/>Housewives make a skillet of my Helm __</p>
                  </div>

                  <div class="extract-citation">
                     <div>
                        <span>Folger MS V.a.262</span> (
                        <span>f. 5v</span>)</div>
                     <div>by
                        <span>Lady Macbeth</span> in
                        <span>
                           <em>Macbeth</em>
                        </span> (
                        <span>Shakespeare</span>)</div>
                  </div>
               </div>


               <div class="extract">
                  <div class="original">
                     <p>She gives me a faire respect</p>
                  </div>
                  <div class="normalized">
                     <p>She gives me a fair respect</p>
                  </div>

                  <div class="extract-citation">
                     <div>
                        <span>Folger MS V.a.262</span> (
                        <span>f. 5v</span>)</div>
                     <div>by
                        <span>Lady Macbeth</span> in
                        <span>
                           <em>Macbeth</em>
                        </span> (
                        <span>Shakespeare</span>)</div>
                  </div>
               </div>

               <div class="extract">
                  <div class="original">
                     <p>Would I were with him, he would always say
                        <br/>(Methinks I hear him now) his plausive words
                        <br/>He scatterd not in ears but grafted them
                        <br/>To grow there and to beare: Let me not live
                        <br/>This his good Melencholy of began
                        <br/>On the Catastrophe and hell of past time
                        <br/>When it was out: Let me not live quoth he
                        <br/>After my flame lacks oyl, to be the snuff
                        <br/>Of younger spirits, whose apprehensive senses
                        <br/>All but new things disdain &amp;c.</p>
                  </div>
                  <div class="normalized">
                     <p>Would I were with him, he would always say
                        <br/>(Methinks I hear him now) his plausive words
                        <br/>He scatterd not in ears but grafted them
                        <br/>To grow there and to bear: Let me not live
                        <br/>This his good melancholy of began
                        <br/>On the Catastrophe and hell of past time
                        <br/>When it was out: Let me not live quoth he
                        <br/>After my flame lacks oil, to be the snuff
                        <br/>Of younger spirits, whose apprehensive senses
                        <br/>All but new things disdain &amp;c.</p>
                  </div>

                  <div class="extract-citation">
                     <div>
                        <span>Folger MS V.a.262</span> (
                        <span>f. 5v</span>)</div>
                     <div>by
                        <span>Lady Macbeth</span> in
                        <span>
                           <em>Macbeth</em>
                        </span> (
                        <span>Shakespeare</span>)</div>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
{% endblock %}

{% block javascripts %}
   {{ super() }}
   <script>require('browse');</script>
{% endblock %}
