{% extends '_layout.html.j2' %}

{% block title %}Submit TEI - {{ super() }}{% endblock %}

{% block header %}
   <header>
      <div class="container">
         <h1 id="page-title">Contact Us</h1>
      </div>
   </header>
{% endblock %}

{% block content %}
   <main class="container">
      <p>Contact form goes here. To be provided by Iter</p>
   </main>
{% endblock %}
