{% extends 'layout.html.j2' %}

{% import '_pagination.html.j2' as pagination %}

{% block title %}Advanced Search - {{ super() }}{% endblock %}

{% block header %}
   <header>
      <div class="container">
         <h1>Advanced Search</h1>
      </div>
   </header>
{% endblock %}

{% block content %}
   <main class="container"></main>
{% endblock %}

{% block javascripts %}
   {{ super() }}
   <script>
      require(['search-advanced', 'config'], function (app, config) {
         app.initialize('main.container', config);
      });
   </script>
{% endblock %}
