<div class="row">
   <div class="col-xs-6">
      <a href="#" class="btn btn-success btn-block btn-lg manuscript">
         <i class="fa fa-file-text-o"></i>
         <span>Upload Manuscripts</span>
      </a>
   </div>
   <div class="col-xs-6">
      <a href="#" class="btn btn-success btn-block btn-lg peopleandplays">
         <i class="fa fa-users"></i>
         <span>Upload People and Plays</span>
      </a>
   </div>
</div>
