{% if title %}
   <div class="page-header">
      <h1>{{ title }}</h1>
   </div>
{% endif %}

<div class="drop-target">Drop files here...</div>

<div class="upload-form" style="display: none;">
   <div class="form-group">
      <label for="upload">Your browser does not support drag and drop file uploads.</label>
      <input type="file" name="upload" id="upload">
   </div>

   <div class="btn-row">
      <button class="btn btn-primary" type="submit">
         <i class="glyphicon glyphicon-upload"></i>
         <span>Upload</span>
      </button>
   </div>
</div>

<!-- <progress class="uploadprogress" min="0" max="100" value="0">0</progress> -->
