<div class="form-group">
   <label class="control-label sr-only" for="shelfmark">Shelfmark</label>
   <input type="search" id="shelfmark" placeholder="Shelfmark" name="shelfmark" class="form-control">
</div>
<div class="form-group">
   <label class="control-label sr-only" for="playwright">Playwright</label>
   <input type="search" id="playwright" placeholder="Playwright" name="playwright" class="form-control">
</div>
<div class="form-group">
   <label class="control-label sr-only" for="play">Play</label>
   <input type="search" id="play" placeholder="Play" name="play" class="form-control">
</div>
<div class="form-group">
   <label class="control-label sr-only" for="character">Character</label>
   <input type="search" id="character" placeholder="Character" name="character" class="form-control">
</div>
<div class="form-group">
   <label class="control-label sr-only" for="keyword">Keyword</label>
   <input type="search" id="keyword" placeholder="Keyword" name="keyword" class="form-control">
</div>
<div class="btn-row">
   <button class="btn btn-default" type="reset">
      <i class="glyphicon glyphicon-remove"></i>
      <span>Clear</span>
   </button>
   <button class="btn btn-primary" type="submit">
      <i class="glyphicon glyphicon-search"></i>
      <span>Search</span>
   </button>
</div>
