<label>
   <input type="checkbox" name="{{ field }}" value="{{ label }}"{% if selected %} checked{% endif %} />
   <span class="item-label">{{ label }}</span>

   <small class="badge">{{ count }}</small>
</label>
