
<h1 data-toggle="collapse" data-target="#collapse-{{ field }}" aria-expanded="true" aria-controls="collapse-{{ field }}">
   <div class="pull-left">
      <i class="glyphicon glyphicon-chevron-right"></i>
      <i class="glyphicon glyphicon-chevron-down"></i>
   </div>
   {{ title|default(field) }}
   <div class="see-all pull-right">
     <a href="browse-{{ field }}.html">see all</a>
   </div>
</h1>
<div class="facet-items facet-group-{{ field }} collapse in" id="collapse-{{ field }}">

</div>
