<div class="row">
   <div class="col-md-4">
      <div class="form"></div>
      <div class="facets"></div>
   </div>
   <div class="col-md-8">
      <div class="meta-content"></div>
      <div class="text-right toolbar">
         <nav class="pagination"></nav>
         <div class="btn-group" role="group" aria-label="manuscript display text">
            <button type="button" class="btn btn-default show-normalized active">Normalized</button>
            <button type="button" class="btn btn-default show-original">Original</button>
         </div>
      </div>
      <div class="result-list show-normalized"></div>
   </div>
</div>
