@import 'layout';
@import 'typography';
@import 'carousel';
@import 'browse';
@import 'sponsors-wall';
@import 'bibliography';


@font-face {
    font-family: 'andron_scriptor_webregular';
    src: url('../fonts/andron_scriptor_web.eot');
    src: url('../fonts/andron_scriptor_web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/andron_scriptor_web.woff2') format('woff2'),
         url('../fonts/andron_scriptor_web.woff') format('woff'),
         url('../fonts/andron_scriptor_web.ttf') format('truetype');
        //  url('../fonts/andron_scriptor_web.svg#andron_scriptor_webregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* MARKETING CONTENT
-------------------------------------------------- */
.messaging {
   .messaging-point {
      margin-bottom: 20px;
      text-align: center;

      p {
         margin-right: 10px;
         margin-left: 10px;
      }
   }

   h2 {
      font-weight: normal;
   }
}


/* Featurettes
------------------------- */
.featurette-divider {
   margin: 80px 0;
}

.featurette-heading {
   font-weight: 300;
   line-height: 1;
   letter-spacing: -1px;

   @media (min-width: 768px) {
      font-size: 50px;
   }

   @media (min-width: 992px) {
      margin-top: 120px;
   }
}


/* OVERRIDE BUTTON GROUP BORDER RADIUS
-------------------------------------------------- */
.btn-group {
   > .btn.btn-group-left {
      border-top-left-radius: 3px !important;
      border-bottom-left-radius: 3px !important;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
   }

   > .btn.btn-group-right {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-top-right-radius: 3px !important;
      border-bottom-right-radius: 3px !important;
   }
}


/* FORM CONTROLS
-------------------------------------------------- */
.btn-row {
   text-align: right;
}
