<div class="page-header">
   {% if downloadUrl %}
      <a class="pull-right btn btn-primary download-tei" href="{{ downloadUrl }}" download="{{ id }}.xml">
         <i class="glyphicon glyphicon-download"></i>
         <span>Download TEI</span>
      </a>
   {% endif %}
   <h2>{{ title }}</h2>
</div>

<dl class="dl-horizontal">
   <dt>MS Author(s)</dt>
   <dd>{{ author }}</dd>
</dl>
