<div class="page-header">
   <a class="pull-right btn btn-primary" href="#">
      <i class="glyphicon glyphicon-download"></i>
      <span>Download TEI</span>
   </a>
   <h2>{{ title }}</h2>
</div>

<dl class="dl-horizontal">
   <dt>MS Author(s)</dt>
   <dd>{{ author }}</dd>
</dl>
