<div class="page-header">
   <h2>{{ title }}</h2>
</div>

<dl class="dl-horizontal">
   <dt>Playwright(s)</dt>
   <dd><a href="#">TODO: playwrights</a></dd>
   <dt>Edition(s)</dt>
   <dd>
      <a href="#" target="_blank">TODO:editions</a>
   </dd>
</dl>
