<div class="page-header">
   <h2>{{ title }}</h2>
</div>

<dl class="dl-horizontal">
   <dt>Playwright(s)</dt>
   {% for pw in playwrights %}
      <dd><a href="browse-playwright.html#pws/{{ pw.id }}">{{ pw.name }}</a></dd>
   {% endfor %}
</dl>
